@charset "utf-8";

/*
 * 自定义的样式
 */
body
{
    background-image: url("../images/backGroundLogin.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}